.game-banner {
  display: flex;
  flex-direction: column;
  /* padding: 32px 100px; */
  background-color: #0E1015;
  align-items: center; /* Adiciona centralização horizontal */
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%; /* Certifica-se de que a largura é total do contêiner */
  max-width: 1200px; /* Limita a largura máxima para evitar esticar demais */
  padding: 0 16px; /* Adiciona padding lateral */
}

.game-title h1 {
  color: white;
  font-size: 32px;
  font-family: 'Krona One', sans-serif;
  text-transform: uppercase;
}

.game-ratings {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 32px;
}

.ratings-section,
.user-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.rating-label {
  color: white;
  font-size: 16px;
  font-family: 'Krona One', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.rating-score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Krona One', sans-serif;
}

.rating-score img {
  width: 20px;  /* Ajustando o tamanho da estrela para corresponder à imagem */
  height: 20px;
  margin-right: 8px;
}

.rating-score span {
  font-size: 24px;  /* Tamanho da fonte para os números */
  color: #eceaeb;  /* Cor do número principal */
}

.rating-score .out-of {
  font-size: 24px;  /* Tamanho da fonte para o "/10" */
  color: #787B81;  /* Cor do "/10" */
  margin-left: 2px;
}

.user-rating .user-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF003F;
  font-size: 16px;
  font-family: 'Krona One', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
}

.user-rate img {
  width: 20px;  /* Ajustando o tamanho da estrela para corresponder à imagem */
  height: 20px;
  margin-right: 4px;
}

.rate-button {
  padding: 8px 16px;
  background-color: #D5224E;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: 'Krona One', sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner-images {
  display: flex;
  gap: 16px;
  justify-content: center; /* Adiciona centralização horizontal das imagens */
  flex-wrap: wrap; /* Permite que as imagens se movam para a linha seguinte se necessário */
  margin-top: 16px; /* Adiciona margem superior para separação */
}

.cover-image, .gameplay-image {
  max-width: 100%; /* Faz com que as imagens não ultrapassem o contêiner */
  height: auto;
  object-fit: cover;
}

.cover-image {
  max-width: 433px;
}

.gameplay-image {
  max-width: 801px;
}

